body {
    font-family: Arial, sans-serif;
}

/* top bar */
.top-bar {
    background-color: #1a1a1a;
    color: white;
    padding: 10px 0;
}

.icon-text {
    display: flex;
    align-items: center;
}

.icon-at-home {
    background: url(https://static.kfcvietnam.com.vn/images/web/sprite.png?v=5.0) no-repeat;
    background-position: -143px -771px;
    width: 27px;
    height: 23px;
    margin-right: 5px;
    display: inline-block;
    align-items: center;
}

.icon-at-pickup {
    background: url(https://static.kfcvietnam.com.vn/images/web/sprite.png?v=5.0) no-repeat;
    background-position: -190px -771px;
    width: 27px;
    height: 23px;
    margin-right: 5px;
    display: inline-block;
    align-items: center;
}

.top-bar .btn {
    background-color: #E53631;
    color: white;
    font-weight: bold;
    border-radius: 45px;
    padding: 10px 20px;
}

.top-bar .btn:hover {
    background-color: #bd2c27;
}

.top-bar .icon-text {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.top-bar .icon-text img {
    height: 20px;
    margin-right: 5px;
}

/* Theme image */
.carousel-item img {
    width: 100%;
    height: 465px;
    object-fit: cover;
}

.carousel-control-prev, .carousel-control-next {
    width: 50px;
    background-color: #420807;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev i,
.carousel-control-next i {
    color: rgba(225, 225, 225, 0.805);
    font-size: 30px;
}

/* Navbar */
.navbar-main {
    justify-content: center;
}

.navbar-main .navbar-nav-main { 
    overflow-x: auto; 
    white-space: nowrap; 
    flex-wrap: nowrap; 
}

.navbar-main .nav-link-main { 
    font-size: 20px;
    color: #7F7F7F;
    font-weight: bold;
    text-decoration: none;
}

.navbar-main .nav-link-main:hover {
    color: rgb(0, 0, 0) !important;
}

.navbar-main .nav-link-main.active {
    color: rgb(0, 0, 0);
    text-decoration: underline #E53631;
    text-decoration-thickness: 5px;
    text-underline-offset: 5.5px;
}

/* Main Content */
.card {
    width: 280px !important;
    height: 415px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 10px 16px 10px 16px !important;
}

.category-title {
    font-weight: bold;
}

.card-img {
    width: 260px;
    height: 220px; 
    object-fit: cover; 
    margin-bottom: 10px;
}

.product-title { 
    font-size: 20px !important;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-title:hover { 
    cursor: pointer;
}

.description {
    min-height: 2rem;
    margin-bottom: 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.price { 
    font-size: 19px !important;
    font-weight: bold; 
    color: #333; 
    margin-bottom: 10px;
}
        
.btn-add {
    background-color: #E53631 !important;
    color: #ffffff !important;
    border: 1px solid #E53631 !important;
}

.btn-add:hover {
    background-color: #c92f2a !important;
    border: 1px solid #c92f2a !important;
    cursor: pointer;
}

/* Food list */
.container-food-list {
    margin-left: 120px !important;
    margin-right: 120px !important;
}

.category-food-list-title {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
}

.food-list-col {
    width: 24% !important;
}

.container-food-list a {
    text-decoration: none !important;
    color: black !important;
}

.card-food-list {
    width: 265px !important;
    height: 275px !important;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
}

.card-food-list img {
    border-bottom: 1px solid #ddd;
}

.card-food-list-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

/* Recommend */
.container-recommend {
    margin-left: 120px !important;
    margin-right: 120px !important;
}

.category-recommend-title {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
}

.recommend-icon-avatar {
    background: url(https://static.kfcvietnam.com.vn/images/web/sprite.png?v=5.0) no-repeat;
    background-position: -10px -805px;
    width: 42px;
    height: 77px;
    display: inline-block;
    vertical-align: middle;
}

.container-recommend-col {
    width: 24.5% !important;
}

.card-recommend {
    width: 275px !important;
    height: 415px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    color: var(--black-color);
    text-decoration: none !important;
}

.card-recommend:hover {
    transform: scale(1.05);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
    color: var(--black-color);
}

.card-recommend-body {
    padding: 10px 16px 10px 16px !important;
}

.card-recommend-img {
    width: 100%;
    height: 220px; 
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 10px 5px 10px;
}

.product-recommend-title { 
    height: 48px;
    font-size: 20px !important;
    font-weight: bold;
}

.product-recommend-title:hover { 
    cursor: pointer;
}

.price-recommend { 
    font-size: 19px !important;
    font-weight: bold; 
    color: #333; 
    margin-bottom: 5px;
}

.price-recommend:hover {
    cursor: pointer;
}

.description-recommend {
    height: 50px;
    margin-bottom: 5px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.btn-recommend-add {
    background-color: #E53631 !important;
    color: #ffffff !important;
    border: 1px solid #E53631 !important;
    border-radius: 20px !important;
}

.btn-recommend-add:hover {
    background-color: #c92f2a !important;
    border: 1px solid #c92f2a !important;
    border-radius: 20px !important;
    cursor: pointer;
}

/* Theme image footer */
.theme-img-ft {
    position: relative;
    width: 100%;
    margin: auto;
}

.theme-img-left-main {
    width: 100%;
    display: block;
}

.theme-img-app {
    position: absolute;
    bottom: calc(50% - 24px);
    right: 178px;
    display: flex;
    gap: 10px;
}

.theme-img-app img {
    width: 120px;
    height: auto;
}

.icon-google-play-btn {
    background: url(https://static.kfcvietnam.com.vn/images/content/home/mobileappbanner/boton-google.png) no-repeat;
    width: 170px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}

.icon-app-store-btn {
    background: url(https://static.kfcvietnam.com.vn/images/content/home/mobileappbanner/boton-app-store.png) no-repeat;
    width: 150px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}