<!-- Thêm sửa xóa artical ê mà chả hiểu sao tiêu đề và nội dung lại khác cỡ ta nhìn khó chịu vãi -->

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/artical.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script>
        function loadNavbar() {
            fetch("navBar.html")
                .then(response => response.text())
                .then(data => {
                    document.getElementById("navBar").innerHTML = data;
                    const homeLink = document.getElementById("news");
                    if (homeLink) {
                        homeLink.classList.add("active");
                    }
                }
            );
        }

        window.onload = loadNavbar();
    </script>
</head>
<body>
    <div id="navBar"></div>

    <div class="container">
        <h1>Chỉnh sửa bài viết dễ dàng!!</h1>

        <div class="writing-section">
            <form action="" name="artical-form">
                <label for="title">Tiêu đề Nội dung</label><br>
                <input type="text" id="title" name="title" value="Khuyến mãi tháng 11" autocomplete="name"><br>

                <label for="content">Tiêu đề Nội dung</label><br>
                <textarea id="content" name="content" rows="30" cols="50" placeholder="Nhập nội dung bài viết ở đây...">
🎉️ MẤY NÍ IU GÀ BẠC LIÊU ƠI!!! KFC ĐÃ ĐẾN RỒI NÈ!!! 🍗

Lầu đầu tiên, món Gà Rán KFC đã có mặt tại thành phố Bạc Liêu thân iu. Mấy ní không cần phải sang các tỉnh khác để thưởng thức món Gà Rán quốc dân của KFC nữa nhé.
👉 Ní ơi! Mời ní ghé tham dự tiệc khai trương tưng bừng cùng KFC vào ngày 23/10/2024 nha!!! Lưu ngay bí kíp ăn tiệc nhà KFC đi nào:
❤️ Đặc điểm nhận diện mặt tiền với tông màu đen đỏ chủ đạo, bên trong được trang trí siêu chất với nhiều góc sống ảo check in.
❤️ Nhiều quà tặng dễ thương khi tham gia trò chơi vào ngày khai trương.
❤️ Combo siêu ưu đãi với 1 Miếng Gà + 1 Mì Ý chỉ 49K.
❤️ Địa chỉ: 1S18 Trung Tâm Thương Mại GO! Bạc Liêu, đường 23/8, phường 7, thành phố Bạc Liêu, tỉnh Bạc Liêu.

❗ Chương trình chỉ kéo dài đến hết ngày 11/11/2024 nhé các fan.

📞 Liên hệ đặt hàng qua số hotline 19006886
📱 Xem thêm thông tin về các chương trình khuyến mãi và đặt hàng qua website www.kfcvietnam.com.vn

#KFC #KFCVietnam #KFCGoBacLieu
                </textarea><br>

                <div class="btn">
                    <button type="submit" onclick="alert('Cập nhật thành công')">Lưu</button>
                    <button type="reset">Hủy</button>
                </div>
            </form>
        </div>


        <footer>
            <div class="footer">
                <div class="footer-item">
                    <h3>Liên hệ</h3>
                    <p>Hotline: 19006886</p>
                    <p>Email:
                        <a href="mailto:linh.nguyenhathuy8023@hcmut.edu.vn">Quản lý cấp cao</a>
                    </p>
                </div>
                <div class="footer-item">
                    <h3>Địa chỉ</h3>
                    <p>Trường Đại học Bách Khoa Tp.HCM</p>
                    <p>268 Lý Thường Kiệt, Phường 14, Quận 10, Tp.HCM</p>
                </div>
            </div>
        </footer>
    </div>

    
</body>
</html>