<!-- Chỉnh lại nội dung popup và xóa thành viên theo id luôn -->

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script>
        function changeColor(selectElement) {




            const value = selectElement.value;
            
            // Reset background color to a default color
            selectElement.style.backgroundColor = '';

            if (value == "1") {
                selectElement.style.border = '3px solid #f1c40f'; // Yellow for "Đang chờ"
            } else if (value == "2") {
                selectElement.style.border = '3px solid #3498db'; // Blue for "Đang giao"
            } else if (value == "3") {
                selectElement.style.border = '3px solid #2ecc71'; // Green for "Đã giao"
            }
        }
        
        function loadNavbar() {
            fetch("navBar.html")
                .then(response => response.text())
                .then(data => {
                    document.getElementById("navBar").innerHTML = data;
                    const homeLink = document.getElementById("customers");
                    if (homeLink) {
                        homeLink.classList.add("active");
                    }
                });
        }

        window.onload = function() {
            const selectElements = document.querySelectorAll('.table select');
            selectElements.forEach(selectElement => {
                changeColor(selectElement); // Apply initial color based on default selected value
            });

            loadNavbar();
        }
    </script>
</head>
<body>
    <div id="navBar"></div>

    <div class="container">
        <h1>Thành viên</h1>

        <!-- /*order*/ -->
        <div class="contain2" style="margin-top: 0px;">
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Mã khách hàng</th>
                            <th>Tên khách hàng</th>
                            <th>Địa chỉ</th>
                            <th>Ngày sinh</th>
                            <th>...</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr onclick="showPopup('001')">
                            <td>001</td>
                            <td>Cao Huệ Chi</td>
                            <td>Thủ Đức, TP HCM</td>
                            <td>23/02/2004</td>
                            <td>....</td>
                        </tr>
                        <tr onclick="showPopup('001')">
                            <td>001</td>
                            <td>Cao Huệ Chi</td>
                            <td>Thủ Đức, TP HCM</td>
                            <td>23/02/2004</td>
                            <td>....</td>
                        </tr>
                        <tr onclick="showPopup('001')">
                            <td>001</td>
                            <td>Cao Huệ Chi</td>
                            <td>Thủ Đức, TP HCM</td>
                            <td>23/02/2004</td>
                            <td>....</td>
                        </tr>
                        <tr onclick="showPopup('001')">
                            <td>001</td>
                            <td>Cao Huệ Chi</td>
                            <td>Thủ Đức, TP HCM</td>
                            <td>23/02/2004</td>
                            <td>....</td>
                        </tr>
                        <tr onclick="showPopup('001')">
                            <td>001</td>
                            <td>Cao Huệ Chi</td>
                            <td>Thủ Đức, TP HCM</td>
                            <td>23/02/2004</td>
                            <td>....</td>
                        </tr>
                        <tr onclick="showPopup('001')">
                            <td>001</td>
                            <td>Cao Huệ Chi</td>
                            <td>Thủ Đức, TP HCM</td>
                            <td>23/02/2004</td>
                            <td>....</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- /*popup*/ -->
        <div class="overlay" id="overlay"></div>

        <div class="popup" id="popup">
            <div class="id-order">
                <h3 id="id"></h3>
                <svg onclick="closePopup()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="close-icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg> 
            </div>
            <h3>Tên khách hàng: <span>Cao Huệ Chi</span></h3>
            <h5>Địa chỉ: <span>Thủ Đức, TP HCM</span></h5>
            <h5>Tình trạng: <span>Đang chờ</span></h5>
            <h5>Thời gian đặt: <span> 7h30 24/10/2024</span></h5>
            <div class="sumary">
                <h3>Tóm tắt đơn hàng</h3>
                <div class="detail">
                    <div class="dish-name">
                        <h5>1x Coca</h5>
                        <h5>0đ</h5>
                    </div>
                    <div class="dish-name">
                        <h5>1x Gà sốt cay</h5>
                        <h5>76.000đ</h5>
                    </div>
                    <div class="dish-name">
                        <h5>1x Combo 1 người</h5>
                        <h5>150.000đ</h5>
                    </div>
                </div>
                <div class="dish-name">
                    <h5>Tổng đơn hàng</h5>
                    <span>226.000đ</span>
                </div>
                <div class="dish-name">
                    <h5>Phí giao hàng</h5>
                    <span>10.000đ</ư>
                </div>
                <div class="dish-name">
                    <h5>Thành tiền</h5>
                    <span>236.000đ</span>
                </div>
            </div>
        </div>

        <footer>
            <div class="footer">
                <div class="footer-item">
                    <h3>Liên hệ</h3>
                    <p>Hotline: 19006886</p>
                    <p>Email:
                        <a href="mailto:linh.nguyenhathuy8023@hcmut.edu.vn">Quản lý cấp cao</a>
                    </p>
                </div>
                <div class="footer-item">
                    <h3>Địa chỉ</h3>
                    <p>Trường Đại học Bách Khoa Tp.HCM</p>
                    <p>268 Lý Thường Kiệt, Phường 14, Quận 10, Tp.HCM</p>
                </div>
            </div>
        </footer>
    

    </div>

    
    <script>
        function showPopup(id) {
            // Display the popup and overlay
            document.getElementById('popup').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
    
            // Set the popup content dynamically
            document.getElementById('id').textContent = id;
        }
    
        function closePopup() {
            // Hide the popup and overlay
            document.getElementById('popup').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }
    </script>
</body>
</html>