<!-- Load thông tin món ăn và lưu lại trên db (có thì sửa nội dung không thì lưu mới) 
     Thêm cả tùy chọn xóa nữa, quên mất tiêu
-->

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/dish.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script>
        function loadNavbar() {
            fetch("navBar.html")
                .then(response => response.text())
                .then(data => {
                    document.getElementById("navBar").innerHTML = data;
                    const homeLink = document.getElementById("menus");
                    if (homeLink) {
                        homeLink.classList.add("active");
                    }
                }
            );
        }

        window.onload = loadNavbar();
    </script>
</head>
<body>
    <div id="navBar"></div>

    <div class="container">
        <h1>Cập nhật món ăn và lưu lại!!</h1>
        <div class="info">
            <form action="" name="dish-form">
                <img src="https://static.kfcvietnam.com.vn/images/items/lg/burger-copy.jpg?v=4lY0lg" alt=""><br>
                <div class="info-item">
                    <label for="img">Link ảnh</label><br>
                    <input type="text" id="img" name="img" value="https://static.kfcvietnam.com.vn/images/items/lg/burger-copy.jpg?v=4lY0lg" autocomplete="off"><br>

                    <label for="name">Tên</label><br>
                    <input type="text" id="name" name="name" value="Combo 1 người" autocomplete="name"><br>

                    <label for="description">Mô tả</label><br>
                    <input type="text" id="description" name="description" value="2 Burger Bánh Mì + 2 Miếng Gà Rán + 2 Lon Pepsi" autocomplete="off"><br>

                    <label for="price">Giá</label><br>
                    <input type="text" id="price" name="price" value="99.000" autocomplete="off"><br>

                    <div class="btn">
                        <button type="submit" onclick="alert('Cập nhật thành công')">Lưu</button>
                        <button type="reset">Hủy</button>
                    </div>
                </div>
            </form>
        </div>

        <footer>
            <div class="footer">
                <div class="footer-item">
                    <h3>Liên hệ</h3>
                    <p>Hotline: 19006886</p>
                    <p>Email:
                        <a href="mailto:linh.nguyenhathuy8023@hcmut.edu.vn">Quản lý cấp cao</a>
                    </p>
                </div>
                <div class="footer-item">
                    <h3>Địa chỉ</h3>
                    <p>Trường Đại học Bách Khoa Tp.HCM</p>
                    <p>268 Lý Thường Kiệt, Phường 14, Quận 10, Tp.HCM</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
