<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script>
        function changeColor(selectElement) {
            const value = selectElement.value;
            
            // Reset background color to a default color
            selectElement.style.backgroundColor = '';

            if (value == "1") {
                selectElement.style.border = '3px solid #f1c40f'; // Yellow for "Đang chờ"
            } else if (value == "2") {
                selectElement.style.border = '3px solid #3498db'; // Blue for "Đang giao"
            } else if (value == "3") {
                selectElement.style.border = '3px solid #2ecc71'; // Green for "Đã giao"
            }
        }
        
        function loadNavbar() {
            fetch("navBar.html")
                .then(response => response.text())
                .then(data => {
                    document.getElementById("navBar").innerHTML = data;
                    const homeLink = document.getElementById("home");
                    if (homeLink) {
                        homeLink.classList.add("active");
                    }
                });
        }

        window.onload = function() {
            const selectElements = document.querySelectorAll('.table select');
            selectElements.forEach(selectElement => {
                changeColor(selectElement); // Apply initial color based on default selected value
            });

            loadNavbar();
        }
    </script>
</head>
<body>
    <div id="navBar"></div>

    <div class="container">
        <h1>Chào mừng quay trở lại!</h1>

        <!-- /*chart*/ -->
        <div class="contain1">
            <div class="chart">
                <div id="month">
                    <h2>Thu nhập hàng tháng</h2>
                    <select>
                        <option value="1">Tháng 1</option>
                        <option value="2">Tháng 2</option>
                        <option value="3">Tháng 3</option>
                        <option value="4">Tháng 4</option>
                        <option value="5">Tháng 5</option>
                        <option value="6">Tháng 6</option>
                        <option value="7">Tháng 7</option>
                        <option value="8">Tháng 8</option>
                        <option value="9">Tháng 9</option>
                        <option value="10">Tháng 10</option>
                        <option value="11">Tháng 11</option>
                        <option value="12">Tháng 12</option>
                    </select>
                </div>
    
                <div class="bar">
                    <div class="bar-label">Tuần 1</div>
                    <div class="bar-value" style="width: 50%;">50%</div>
                </div>
                <div class="bar">
                    <div class="bar-label">Tuần 2</div>
                    <div class="bar-value" style="width: 10%;">10%</div>
                </div>
                <div class="bar">
                    <div class="bar-label">Tuần 3</div>
                    <div class="bar-value" style="width: 20%;">20%</div>
                </div>
                <div class="bar">
                    <div class="bar-label">Tuần 4</div>
                    <div class="bar-value" style="width: 20%;">20%</div>
                </div>
            </div>
            <div class="item" onclick="window.location.href='dish.html'">
                <img src="https://static.kfcvietnam.com.vn/images/items/lg/burger-copy.jpg?v=4lY0lg" alt="">
                <h4>Combo 1 người</h4>
                <div class="info">
                    <h5>Orders <span>15</span></h5>
                    <h5>150.000đ</h5>
                </div>
            </div>
        </div>

        <!-- /*menu*/ -->
        <div class="contain2">
            <div class="link">
                <h2>Menu</h2>
                <a id="menus" href="menus.html">Xem thêm</a>
            </div>
            <div class="card-items">
                <div class="item" onclick="window.location.href='dish.html'">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/burger-copy.jpg?v=4lY0lg" alt="">
                    <h4>Combo 1 người</h4>
                    <div class="info">
                        <h5>Orders <span>15</span></h5>
                        <h5>150.000đ</h5>
                    </div>
                </div>
                <div class="item" onclick="window.location.href='dish.html'">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/burger-copy.jpg?v=4lY0lg" alt="">
                    <h4>Combo 1 người</h4>
                    <div class="info">
                        <h5>Orders <span>15</span></h5>
                        <h5>150.000đ</h5>
                    </div>
                </div>
                <div class="item" onclick="window.location.href='dish.html'">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/burger-copy.jpg?v=4lY0lg" alt="">
                    <h4>Combo 1 người</h4>
                    <div class="info">
                        <h5>Orders <span>15</span></h5>
                        <h5>150.000đ</h5>
                    </div>
                </div>
                <div class="item" onclick="window.location.href='dish.html'">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/burger-copy.jpg?v=4lY0lg" alt="">
                    <h4>Combo 1 người</h4>
                    <div class="info">
                        <h5>Orders <span>15</span></h5>
                        <h5>150.000đ</h5>
                    </div>
                </div>
                <div class="item" onclick="window.location.href='dish.html'">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/burger-copy.jpg?v=4lY0lg" alt="">
                    <h4>Combo 1 người</h4>
                    <div class="info">
                        <h5>Orders <span>15</span></h5>
                        <h5>150.000đ</h5>
                    </div>
                </div>
                <div class="item" onclick="window.location.href='dish.html'">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/burger-copy.jpg?v=4lY0lg" alt="">
                    <h4>Combo 1 người</h4>
                    <div class="info">
                        <h5>Orders <span>15</span></h5>
                        <h5>150.000đ</h5>
                    </div>
                </div>
                <div class="item" onclick="window.location.href='dish.html'">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/burger-copy.jpg?v=4lY0lg" alt="">
                    <h4>Combo 1 người</h4>
                    <div class="info">
                        <h5>Orders <span>15</span></h5>
                        <h5>150.000đ</h5>
                    </div>
                </div>
                <div class="item" onclick="window.location.href='dish.html'">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/burger-copy.jpg?v=4lY0lg" alt="">
                    <h4>Combo 1 người</h4>
                    <div class="info">
                        <h5>Orders <span>15</span></h5>
                        <h5>150.000đ</h5>
                    </div>
                </div>
            </div>
        </div>

        <!-- /*order*/ -->
        <div class="contain2">
            <div class="link">
                <h2>Đơn hàng gần đây</h2>
                <a id="orders" href="orders.html">Xem thêm</a>
            </div>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Tên khách hàng</th>
                            <th>Địa chỉ</th>
                            <th>Tình trạng</th>
                            <th>Giá tiền</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td onclick="showPopup('001')">001</td>
                            <td onclick="showPopup('001')">Cao Huệ Chi</td>
                            <td onclick="showPopup('001')">Thủ Đức, TP HCM</td>
                            <td>
                                <select onchange="changeColor(this)">
                                    <option value="1">Đang chờ</option>
                                    <option value="2">Đang giao</option>
                                    <option value="3">Đã giao</option>
                                </select>
                            </td>
                            <td onclick="showPopup('001')">150.000đ</td>
                        </tr>
                        <tr>
                            <td onclick="showPopup('001')">001</td>
                            <td onclick="showPopup('001')">Cao Huệ Chi</td>
                            <td onclick="showPopup('001')">Thủ Đức, TP HCM</td>
                            <td>
                                <select onchange="changeColor(this)">
                                    <option value="1">Đang chờ</option>
                                    <option value="2">Đang giao</option>
                                    <option value="3">Đã giao</option>
                                </select>
                            </td>
                            <td onclick="showPopup('001')">150.000đ</td>
                        </tr>
                        <tr>
                            <td onclick="showPopup('001')">001</td>
                            <td onclick="showPopup('001')">Cao Huệ Chi</td>
                            <td onclick="showPopup('001')">Thủ Đức, TP HCM</td>
                            <td>
                                <select onchange="changeColor(this)">
                                    <option value="1">Đang chờ</option>
                                    <option value="2">Đang giao</option>
                                    <option value="3">Đã giao</option>
                                </select>
                            </td>
                            <td onclick="showPopup('001')">150.000đ</td>
                        </tr>
                        <tr>
                            <td onclick="showPopup('001')">001</td>
                            <td onclick="showPopup('001')">Cao Huệ Chi</td>
                            <td onclick="showPopup('001')">Thủ Đức, TP HCM</td>
                            <td>
                                <select onchange="changeColor(this)">
                                    <option value="1">Đang chờ</option>
                                    <option value="2">Đang giao</option>
                                    <option value="3">Đã giao</option>
                                </select>
                            </td>
                            <td onclick="showPopup('001')">150.000đ</td>
                        </tr>
                        <tr>
                            <td onclick="showPopup('001')">001</td>
                            <td onclick="showPopup('001')">Cao Huệ Chi</td>
                            <td onclick="showPopup('001')">Thủ Đức, TP HCM</td>
                            <td>
                                <select onchange="changeColor(this)">
                                    <option value="1">Đang chờ</option>
                                    <option value="2">Đang giao</option>
                                    <option value="3">Đã giao</option>
                                </select>
                            </td>
                            <td onclick="showPopup('001')">150.000đ</td>
                        </tr>
                        <tr>
                            <td onclick="showPopup('001')">001</td>
                            <td onclick="showPopup('001')">Cao Huệ Chi</td>
                            <td onclick="showPopup('001')">Thủ Đức, TP HCM</td>
                            <td>
                                <select onchange="changeColor(this)">
                                    <option value="1">Đang chờ</option>
                                    <option value="2">Đang giao</option>
                                    <option value="3">Đã giao</option>
                                </select>
                            </td>
                            <td onclick="showPopup('001')">150.000đ</td>
                        </tr>
                        <tr>
                            <td onclick="showPopup('001')">001</td>
                            <td onclick="showPopup('001')">Cao Huệ Chi</td>
                            <td onclick="showPopup('001')">Thủ Đức, TP HCM</td>
                            <td>
                                <select onchange="changeColor(this)">
                                    <option value="1">Đang chờ</option>
                                    <option value="2">Đang giao</option>
                                    <option value="3">Đã giao</option>
                                </select>
                            </td>
                            <td onclick="showPopup('001')">150.000đ</td>
                        </tr>
                        <tr>
                            <td onclick="showPopup('001')">001</td>
                            <td onclick="showPopup('001')">Cao Huệ Chi</td>
                            <td onclick="showPopup('001')">Thủ Đức, TP HCM</td>
                            <td>
                                <select onchange="changeColor(this)">
                                    <option value="1">Đang chờ</option>
                                    <option value="2">Đang giao</option>
                                    <option value="3">Đã giao</option>
                                </select>
                            </td>
                            <td onclick="showPopup('001')">150.000đ</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- /*popup*/ -->
        <div class="overlay" id="overlay"></div>

        <div class="popup" id="popup">
            <div class="id-order">
                <h3 id="id"></h3>
                <svg onclick="closePopup()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="close-icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg> 
            </div>
            <h3>Tên khách hàng: <span>Cao Huệ Chi</span></h3>
            <h5>Địa chỉ: <span>Thủ Đức, TP HCM</span></h5>
            <h5>Tình trạng: <span>Đang chờ</span></h5>
            <h5>Thời gian đặt: <span> 7h30 24/10/2024</span></h5>
            <div class="sumary">
                <h3>Tóm tắt đơn hàng</h3>
                <div class="detail">
                    <div class="dish-name">
                        <h5>1x Coca</h5>
                        <h5>0đ</h5>
                    </div>
                    <div class="dish-name">
                        <h5>1x Gà sốt cay</h5>
                        <h5>76.000đ</h5>
                    </div>
                    <div class="dish-name">
                        <h5>1x Combo 1 người</h5>
                        <h5>150.000đ</h5>
                    </div>
                </div>
                <div class="dish-name">
                    <h5>Tổng đơn hàng</h5>
                    <span>226.000đ</span>
                </div>
                <div class="dish-name">
                    <h5>Phí giao hàng</h5>
                    <span>10.000đ</ư>
                </div>
                <div class="dish-name">
                    <h5>Thành tiền</h5>
                    <span>236.000đ</span>
                </div>
            </div>
        </div>

        <!-- /*comment*/ -->
        <div class="contain2">
            <div class="link">
                <h2>Bình luận gần đây</h2>
                <a id="comments" href="comments.html">Xem thêm</a>
            </div>
            <div class="comments">
                <div class="comment" id="c-002"">
                    <div class="item">
                        <img src="https://static.kfcvietnam.com.vn/images/items/lg/burger-copy.jpg?v=4lY0lg" alt="">
                        <h4>Combo 1 người</h4>
                        <div class="info">
                            <h5>Orders <span>15</span></h5>
                            <h5>150.000đ</h5>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Cao Huệ Chi</h3>
                        <p style="color: #00000082; margin-bottom: 10px;">6:50 23/10/2024</p>
                        <p>Món này hơi bình thường, mà mắc ghê!!! Món này hơi bình thường, mà mắc ghê!!! Món này hơi bình, cjnjewnjj thường, mà mắc ghê!!! Món này hơi bình thường, mà mắc ghê, mốt hông ăn nữa!!! Món này hơi bình thường, mà mắc ghê, sao dị ta!!! Món này hơi bình thường, mà mắc ghê! </p>
                        <div class="answer"></div>
                        <div class="answer-input">
                            <input type="text" placeholder="Trả lời bình luận...">
                            <button onclick="answerComments('c-002')">Gửi</button>
                        </div>
                    </div> 
                </div>
                <div class="comment" id="c-003"">
                    <div class="item">
                        <img src="https://static.kfcvietnam.com.vn/images/items/lg/burger-copy.jpg?v=4lY0lg" alt="">
                        <h4>Combo 1 người</h4>
                        <div class="info">
                            <h5>Orders <span>15</span></h5>
                            <h5>150.000đ</h5>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Cao Huệ Chi</h3>
                        <p style="color: #00000082; margin-bottom: 10px;">6:50 23/10/2024</p>
                        <p>Món này hơi bình thường, mà mắc ghê!!! Món này hơi bình thường, mà mắc ghê!!! Món này hơi bình, cjnjewnjj thường, mà mắc ghê!!! Món này hơi bình thường, mà mắc ghê, mốt hông ăn nữa!!! Món này hơi bình thường, mà mắc ghê, sao dị ta!!! Món này hơi bình thường, mà mắc ghê! </p>
                        <div class="answer"></div>
                        <div class="answer-input">
                            <input type="text" placeholder="Trả lời bình luận...">
                            <button onclick="answerComments('c-003')">Gửi</button>
                        </div>
                    </div> 
                </div>
                <div class="comment" id="c-004"">
                    <div class="item">
                        <img src="https://static.kfcvietnam.com.vn/images/items/lg/burger-copy.jpg?v=4lY0lg" alt="">
                        <h4>Combo 1 người</h4>
                        <div class="info">
                            <h5>Orders <span>15</span></h5>
                            <h5>150.000đ</h5>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Cao Huệ Chi</h3>
                        <p style="color: #00000082; margin-bottom: 10px;">6:50 23/10/2024</p>
                        <p>Món này hơi bình thường, mà mắc ghê!!! Món này hơi bình thường, mà mắc ghê!!! Món này hơi bình, cjnjewnjj thường, mà mắc ghê!!! Món này hơi bình thường, mà mắc ghê, mốt hông ăn nữa!!! Món này hơi bình thường, mà mắc ghê, sao dị ta!!! Món này hơi bình thường, mà mắc ghê! </p>
                        <div class="answer"></div>
                        <div class="answer-input">
                            <input type="text" placeholder="Trả lời bình luận...">
                            <button onclick="answerComments('c-004')">Gửi</button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <!-- /*news - mấy trang thông tin đồ đó*/ -->
        <div class="contain2">
            <div class="link">
                <h2>Các bài viết gần đây</h2>
                <a id="news" href="news.html">Xem thêm</a>
            </div>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Mã bài viết</th>
                            <th>Tiêu đề</th>
                            <th>Nội dung</th>
                            <th>Ngày đăng</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td>001</td>
                            <td>Khuyến mãi tháng 11</td>
                            <td class="news-content">
                                <p>
                                    🎉️ MẤY NÍ IU GÀ BẠC LIÊU ƠI!!! KFC ĐÃ ĐẾN RỒI NÈ!!! 🍗

                                    Lầu đầu tiên, món Gà Rán KFC đã có mặt tại thành phố Bạc Liêu thân iu. Mấy ní không cần phải sang các tỉnh khác để thưởng thức món Gà Rán quốc dân của KFC nữa nhé.
                                    👉 Ní ơi! Mời ní ghé tham dự tiệc khai trương tưng bừng cùng KFC vào ngày 23/10/2024 nha!!! Lưu ngay bí kíp ăn tiệc nhà KFC đi nào:
                                    ❤️ Đặc điểm nhận diện mặt tiền với tông màu đen đỏ chủ đạo, bên trong được trang trí siêu chất với nhiều góc sống ảo check in.
                                    ❤️ Nhiều quà tặng dễ thương khi tham gia trò chơi vào ngày khai trương.
                                    ❤️ Combo siêu ưu đãi với 1 Miếng Gà + 1 Mì Ý chỉ 49K.
                                    ❤️ Địa chỉ: 1S18 Trung Tâm Thương Mại GO! Bạc Liêu, đường 23/8, phường 7, thành phố Bạc Liêu, tỉnh Bạc Liêu.
                                    
                                    ❗ Chương trình chỉ kéo dài đến hết ngày 11/11/2024 nhé các fan.
                                    
                                    📞 Liên hệ đặt hàng qua số hotline 19006886
                                    📱 Xem thêm thông tin về các chương trình khuyến mãi và đặt hàng qua website www.kfcvietnam.com.vn
                                    
                                    #KFC #KFCVietnam #KFCGoBacLieu
                                </p>
                                <a href="#" class="read-more">Xem thêm</a>
                            </td>
                            <td>24/10/2024</td>
                        </tr>
                        <tr>
                            <td>001</td>
                            <td>Khuyến mãi tháng 11</td>
                            <td class="news-content">
                                <p>
                                    🎉️ MẤY NÍ IU GÀ BẠC LIÊU ƠI!!! KFC ĐÃ ĐẾN RỒI NÈ!!! 🍗

                                    Lầu đầu tiên, món Gà Rán KFC đã có mặt tại thành phố Bạc Liêu thân iu. Mấy ní không cần phải sang các tỉnh khác để thưởng thức món Gà Rán quốc dân của KFC nữa nhé.
                                    👉 Ní ơi! Mời ní ghé tham dự tiệc khai trương tưng bừng cùng KFC vào ngày 23/10/2024 nha!!! Lưu ngay bí kíp ăn tiệc nhà KFC đi nào:
                                    ❤️ Đặc điểm nhận diện mặt tiền với tông màu đen đỏ chủ đạo, bên trong được trang trí siêu chất với nhiều góc sống ảo check in.
                                    ❤️ Nhiều quà tặng dễ thương khi tham gia trò chơi vào ngày khai trương.
                                    ❤️ Combo siêu ưu đãi với 1 Miếng Gà + 1 Mì Ý chỉ 49K.
                                    ❤️ Địa chỉ: 1S18 Trung Tâm Thương Mại GO! Bạc Liêu, đường 23/8, phường 7, thành phố Bạc Liêu, tỉnh Bạc Liêu.
                                    
                                    ❗ Chương trình chỉ kéo dài đến hết ngày 11/11/2024 nhé các fan.
                                    
                                    📞 Liên hệ đặt hàng qua số hotline 19006886
                                    📱 Xem thêm thông tin về các chương trình khuyến mãi và đặt hàng qua website www.kfcvietnam.com.vn
                                    
                                    #KFC #KFCVietnam #KFCGoBacLieu
                                </p>
                                <a href="#" class="read-more">Xem thêm</a>
                            </td>
                            <td>24/10/2024</td>
                        </tr>
                        <tr>
                            <td>001</td>
                            <td>Khuyến mãi tháng 11</td>
                            <td class="news-content">
                                <p>
                                    🎉️ MẤY NÍ IU GÀ BẠC LIÊU ƠI!!! KFC ĐÃ ĐẾN RỒI NÈ!!! 🍗

                                    Lầu đầu tiên, món Gà Rán KFC đã có mặt tại thành phố Bạc Liêu thân iu. Mấy ní không cần phải sang các tỉnh khác để thưởng thức món Gà Rán quốc dân của KFC nữa nhé.
                                    👉 Ní ơi! Mời ní ghé tham dự tiệc khai trương tưng bừng cùng KFC vào ngày 23/10/2024 nha!!! Lưu ngay bí kíp ăn tiệc nhà KFC đi nào:
                                    ❤️ Đặc điểm nhận diện mặt tiền với tông màu đen đỏ chủ đạo, bên trong được trang trí siêu chất với nhiều góc sống ảo check in.
                                    ❤️ Nhiều quà tặng dễ thương khi tham gia trò chơi vào ngày khai trương.
                                    ❤️ Combo siêu ưu đãi với 1 Miếng Gà + 1 Mì Ý chỉ 49K.
                                    ❤️ Địa chỉ: 1S18 Trung Tâm Thương Mại GO! Bạc Liêu, đường 23/8, phường 7, thành phố Bạc Liêu, tỉnh Bạc Liêu.
                                    
                                    ❗ Chương trình chỉ kéo dài đến hết ngày 11/11/2024 nhé các fan.
                                    
                                    📞 Liên hệ đặt hàng qua số hotline 19006886
                                    📱 Xem thêm thông tin về các chương trình khuyến mãi và đặt hàng qua website www.kfcvietnam.com.vn
                                    
                                    #KFC #KFCVietnam #KFCGoBacLieu
                                </p>
                                <a href="#" class="read-more">Xem thêm</a>
                            </td>
                            <td>24/10/2024</td>
                        </tr>
                        <tr>
                            <td>001</td>
                            <td>Khuyến mãi tháng 11</td>
                            <td class="news-content">
                                <p>
                                    🎉️ MẤY NÍ IU GÀ BẠC LIÊU ƠI!!! KFC ĐÃ ĐẾN RỒI NÈ!!! 🍗

                                    Lầu đầu tiên, món Gà Rán KFC đã có mặt tại thành phố Bạc Liêu thân iu. Mấy ní không cần phải sang các tỉnh khác để thưởng thức món Gà Rán quốc dân của KFC nữa nhé.
                                    👉 Ní ơi! Mời ní ghé tham dự tiệc khai trương tưng bừng cùng KFC vào ngày 23/10/2024 nha!!! Lưu ngay bí kíp ăn tiệc nhà KFC đi nào:
                                    ❤️ Đặc điểm nhận diện mặt tiền với tông màu đen đỏ chủ đạo, bên trong được trang trí siêu chất với nhiều góc sống ảo check in.
                                    ❤️ Nhiều quà tặng dễ thương khi tham gia trò chơi vào ngày khai trương.
                                    ❤️ Combo siêu ưu đãi với 1 Miếng Gà + 1 Mì Ý chỉ 49K.
                                    ❤️ Địa chỉ: 1S18 Trung Tâm Thương Mại GO! Bạc Liêu, đường 23/8, phường 7, thành phố Bạc Liêu, tỉnh Bạc Liêu.
                                    
                                    ❗ Chương trình chỉ kéo dài đến hết ngày 11/11/2024 nhé các fan.
                                    
                                    📞 Liên hệ đặt hàng qua số hotline 19006886
                                    📱 Xem thêm thông tin về các chương trình khuyến mãi và đặt hàng qua website www.kfcvietnam.com.vn
                                    
                                    #KFC #KFCVietnam #KFCGoBacLieu
                                </p>
                                <a href="#" class="read-more">Xem thêm</a>
                            </td>
                            <td>24/10/2024</td>
                        </tr>
                        <tr>
                            <td>001</td>
                            <td>Khuyến mãi tháng 11</td>
                            <td class="news-content">
                                <p>
                                    🎉️ MẤY NÍ IU GÀ BẠC LIÊU ƠI!!! KFC ĐÃ ĐẾN RỒI NÈ!!! 🍗

                                    Lầu đầu tiên, món Gà Rán KFC đã có mặt tại thành phố Bạc Liêu thân iu. Mấy ní không cần phải sang các tỉnh khác để thưởng thức món Gà Rán quốc dân của KFC nữa nhé.
                                    👉 Ní ơi! Mời ní ghé tham dự tiệc khai trương tưng bừng cùng KFC vào ngày 23/10/2024 nha!!! Lưu ngay bí kíp ăn tiệc nhà KFC đi nào:
                                    ❤️ Đặc điểm nhận diện mặt tiền với tông màu đen đỏ chủ đạo, bên trong được trang trí siêu chất với nhiều góc sống ảo check in.
                                    ❤️ Nhiều quà tặng dễ thương khi tham gia trò chơi vào ngày khai trương.
                                    ❤️ Combo siêu ưu đãi với 1 Miếng Gà + 1 Mì Ý chỉ 49K.
                                    ❤️ Địa chỉ: 1S18 Trung Tâm Thương Mại GO! Bạc Liêu, đường 23/8, phường 7, thành phố Bạc Liêu, tỉnh Bạc Liêu.
                                    
                                    ❗ Chương trình chỉ kéo dài đến hết ngày 11/11/2024 nhé các fan.
                                    
                                    📞 Liên hệ đặt hàng qua số hotline 19006886
                                    📱 Xem thêm thông tin về các chương trình khuyến mãi và đặt hàng qua website www.kfcvietnam.com.vn
                                    
                                    #KFC #KFCVietnam #KFCGoBacLieu
                                </p>
                                <a href="#" class="read-more">Xem thêm</a>
                            </td>
                            <td>24/10/2024</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <footer>
            <div class="footer">
                <div class="footer-item">
                    <h3>Liên hệ</h3>
                    <p>Hotline: 19006886</p>
                    <p>Email:
                        <a href="mailto:linh.nguyenhathuy8023@hcmut.edu.vn">Quản lý cấp cao</a>
                    </p>
                </div>
                <div class="footer-item">
                    <h3>Địa chỉ</h3>
                    <p>Trường Đại học Bách Khoa Tp.HCM</p>
                    <p>268 Lý Thường Kiệt, Phường 14, Quận 10, Tp.HCM</p>
                </div>
            </div>
        </footer>
    

    </div>

    
    <script>
        function showPopup(id) {
            // Display the popup and overlay
            document.getElementById('popup').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
    
            // Set the popup content dynamically
            document.getElementById('id').textContent = id;
        }
    
        function closePopup() {
            // Hide the popup and overlay
            document.getElementById('popup').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        function answerComments(id) {
            // Get the input value
            let value = document.getElementById(id).getElementsByTagName('input')[0].value;

            document.querySelectorAll('#'+id+'.comment .content .answer')[0].innerHTML += 
            `
                <div class="answer-item">
                    <h3>Quản lý cấp cao</h3>
                    <p>${value}</p>
                </div>
            `;

            document.getElementById(id).getElementsByTagName('input')[0].value = '';
        }
    </script>
</body>
</html>