<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navBar.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="navBar">
        <div id="logo">
            <a href="index.html">
                <img src="images/logo.png" alt="logo">
            </a>
        </div>
        <input id="checkbox" type="checkbox" id="checkbox">
        <div id="menu">
            <label for="checkbox"></label>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="line-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="x-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>  
        </div>
        <ul id="links">
            <li><a id="home" href="index.html">TRANG CHỦ</a></li>
            <li><a id="menus" href="menus.html">MENU</a></li>
            <li><a id="orders" href="orders.html">ĐƠN HÀNG</a></li>
            <li><a id="customers" href="customers.html">THÀNH VIÊN</a></li>
            <li><a id="comments" href="comments.html">BÌNH LUẬN</a></li>
            <li><a id="news" href="news.html">TIN TỨC</a></li>
            <li><a id="log-out" href="log-out.html">ĐĂNG XUẤT</a></li>
        </ul>
    </nav>
</body>
</html>