body {
    font-family: Arial, sans-serif;
}

.top-bar {
    background-color: #1a1a1a;
    color: white;
    padding: 10px 0;
}

.icon-text {
    display: flex;
    align-items: center;
}

.icon-at-home {
    background: url(https://static.kfcvietnam.com.vn/images/web/sprite.png?v=5.0) no-repeat;
    background-position: -143px -771px;
    width: 27px;
    height: 23px;
    margin-right: 5px;
    display: inline-block;
    align-items: center;
}

.icon-at-pickup {
    background: url(https://static.kfcvietnam.com.vn/images/web/sprite.png?v=5.0) no-repeat;
    background-position: -190px -771px;
    width: 27px;
    height: 23px;
    margin-right: 5px;
    display: inline-block;
    align-items: center;
}

.top-bar .btn {
    background-color: #E53631;
    color: white;
    font-weight: bold;
    border-radius: 45px;
    padding: 10px 20px;
}

.top-bar .btn:hover {
    background-color: #bd2c27;
}

.top-bar .icon-text {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.top-bar .icon-text img {
    height: 20px;
    margin-right: 5px;
}

/* Navbar */
.navbar-product {
    justify-content: center;
    margin-left: 120px !important;
    margin-right: 120px !important;
    overflow-x: hidden;
    width: 1170px;
}

.navbar-product-main {
    width: 1200px; /* Chiều rộng lớn hơn phần tử chứa */
    overflow-x: auto; /* Hiển thị thanh cuộn khi cần thiết */
    white-space: nowrap;
}

.navbar-product-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 25%; /* Độ rộng của overlay */
    pointer-events: none; /* Không cho phép tương tác với overlay */
}

.navbar-product-left {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.326), transparent); /* Hiệu ứng mờ từ trái sang phải */
}

.navbar-product-right {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.326), transparent); /* Hiệu ứng mờ từ phải sang trái */
}

.navbar-product .navbar-nav-main { 
    overflow-x: auto; 
    white-space: nowrap; 
    flex-wrap: nowrap; 
}

.navbar-product .nav-link-main { 
    font-size: 20px !important;
    color: #7F7F7F;
    font-weight: bold;
    text-decoration: none;
}

.navbar-product .nav-link-main:hover {
    color: rgb(0, 0, 0) !important;
}

.navbar-product .nav-link-main.active {
    color: rgb(0, 0, 0);
    text-decoration: underline #E53631;
    text-decoration-thickness: 5px;
    text-underline-offset: 5.5px;
}

.navbar-product .nav-item {
    padding-left: 25px;
    padding-right: 25px;
}

/* Main Content */
.container-product {
    margin-left: 120px !important;
    margin-right: 120px !important;
}

.category-product-title {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
}

.col-product {
    width: 300px !important;
}

.card-product {
    width: 280px !important;
    height: 415px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card-product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
}

.card-product-body {
    padding: 10px 16px 10px 16px !important;
}

.card-product-img{
    width: 100%;
    height: 220px; 
    object-fit: cover; 
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.product-title { 
    font-size: 20px !important;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-title:hover { 
    cursor: pointer;
}

.price-product { 
    font-size: 19px !important;
    font-weight: bold; 
    color: #333; 
    margin-bottom: 10px;
}

.price-product:hover {
    cursor: pointer;
}

.description-product {
    min-height: 2rem;
    margin-bottom: 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.btn-product-add {
    background-color: #E53631 !important;
    color: #ffffff !important;
    border: 1px solid #E53631 !important;
    border-radius: 20px !important;
}

.btn-product-add:hover {
    background-color: #c92f2a !important;
    border: 1px solid #c92f2a !important;
    border-radius: 20px !important;
    cursor: pointer;
}

/* Product detail */
.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-left: 50px;
    margin-bottom: 20px;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">" !important;
}

.breadcrumb a {
    color: #6c757d;
    text-decoration: none !important;
}

.breadcrumb a:hover {
    color: #6c757d;
    text-decoration: underline !important;
}

.product-detail {
    margin-left: 120px !important;
    margin-right: 120px !important;
    margin-bottom: 25px;
}

.product-detail-image {
    width: 500px !important;
    height: 400px !important;
    margin-right: 25px !important;
    padding: 0 !important;
}

.product-detail-image-item {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.product-detail-card {
    width: 500px !important;
    height: fit-content;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin-left: 25px !important;
    background-color: #fff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
}

.product-detail-card-item {
    width: 100%;
}

.product-detail-card-item h5 {
    font-size: 28px;
    font-weight: bold;
    padding: 10px 0;
}

.product-detail-card-item p {
    font-size: 16px;
    color: #6c757d;
    padding: 10px 0;
}

.product-detail-btn {
    width: 100% !important;
    background-color: #E53631 !important;
    border: none !important;
    border-radius: 20px !important;
    padding: 10px 20px !important;
    color: #fff !important;
    font-weight: bold !important;
    padding: 10px 0 !important;
    margin-bottom: 15px !important;
}

.product-detail-btn:hover {
    background-color: #c92f2a !important;
    color: white;
    border-radius: 20px !important;
}